//
// Utilities
//

// Signify that this class is a Utility class. It has a very specific
// role (often providing only one declaration) and should not be bound
// onto or changed. It can be reused and is not tied to any specific
// piece of UI. You will probably recognise this namespace from
// libraries and methodologies like SUIT.

//
// Alignment
// --------------------------------------------------

.u-left {
    text-align: left;
}

.u-centered {
    text-align: center;
}

.u-right {
    text-align: right;
}

.u-vertical-align {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.u-flex-align {
    display: flex;
    justify-content: center;
    align-items: center;
}

//
// Float Alignment
// --------------------------------------------------

.u-pull-left {
    float: left;
}

.u-pull-right {
    float: right;
}

//
// Clearing
// --------------------------------------------------

.u-clearing {
    @include clearfix();
}

//
// Pre-defined Heights
// --------------------------------------------------

.u-height-100 {
    min-height: 100px !important;
}

.u-height-150 {
    min-height: 150px !important;
}

.u-height-200 {
    min-height: 200px !important;
}

.u-height-300 {
    min-height: 300px !important;
}

.u-height-400 {
    min-height: 400px !important;
}

.u-height-500 {
    min-height: 500px !important;
}

//
// Typography
// --------------------------------------------------

.u-italic {
    font-style: italic;
}

.u-text-center {
    text-align: center;
}

//
// Layout
// --------------------------------------------------

.u-wrapper {
    position: relative;
}

//
// Spacing
// --------------------------------------------------

// Margin

.u-m-a-0 { margin:0 !important; }
.u-m-t-0 { margin-top: 0 !important; }
.u-m-r-0 { margin-right: 0 !important; }
.u-m-b-0 { margin-bottom: 0 !important; }
.u-m-l-0 { margin-left: 0 !important; }
.u-m-x-0 { margin-right: 0 !important; margin-left: 0 !important; }
.u-m-y-0 { margin-top: 0 !important; margin-bottom: 0 !important; }

.u-m-a { margin:$spacer !important; }
.u-m-t { margin-top: $spacer-y !important; }
.u-m-r { margin-right: $spacer-x !important; }
.u-m-b { margin-bottom: $spacer-y !important; }
.u-m-l { margin-left: $spacer-x !important; }
.u-m-x { margin-right: $spacer-x !important; margin-left: $spacer-x !important; }
.u-m-y { margin-top: $spacer-y !important; margin-bottom: $spacer-y !important; }
.u-m-x-auto { margin-right: auto !important; margin-left: auto !important; }

.u-m-a-md { margin:($spacer * 1.5) !important; }
.u-m-t-md { margin-top: ($spacer-y * 1.5) !important; }
.u-m-r-md { margin-right: ($spacer-y * 1.5) !important; }
.u-m-b-md { margin-bottom: ($spacer-y * 1.5) !important; }
.u-m-l-md { margin-left: ($spacer-y * 1.5) !important; }
.u-m-x-md { margin-right: ($spacer-x * 1.5) !important; margin-left: ($spacer-x * 1.5) !important; }
.u-m-y-md { margin-top: ($spacer-y * 1.5) !important; margin-bottom: ($spacer-y * 1.5) !important; }

.u-m-a-lg { margin:($spacer * 3) !important; }
.u-m-t-lg { margin-top: ($spacer-y * 3) !important; }
.u-m-r-lg { margin-right: ($spacer-y * 3) !important; }
.u-m-b-lg { margin-bottom: ($spacer-y * 3) !important; }
.u-m-l-lg { margin-left: ($spacer-y * 3) !important; }
.u-m-x-lg { margin-right: ($spacer-x * 3) !important; margin-left: ($spacer-x * 3) !important; }
.u-m-y-lg { margin-top: ($spacer-y * 3) !important; margin-bottom: ($spacer-y * 3) !important; }

// Padding

.u-p-a-0 { padding:0 !important; }
.u-p-t-0 { padding-top: 0 !important; }
.u-p-r-0 { padding-right: 0 !important; }
.u-p-b-0 { padding-bottom: 0 !important; }
.u-p-l-0 { padding-left: 0 !important; }
.u-p-x-0 { padding-right: 0 !important; padding-left: 0 !important; }
.u-p-y-0 { padding-top: 0 !important; padding-bottom: 0 !important; }

.u-p-a { padding:$spacer !important; }
.u-p-t { padding-top: $spacer-y !important; }
.u-p-r { padding-right: $spacer-x !important; }
.u-p-b { padding-bottom: $spacer-y !important; }
.u-p-l { padding-left: $spacer-x !important; }
.u-p-x { padding-right: $spacer-x !important; padding-left: $spacer-x !important; }
.u-p-y { padding-top: $spacer-y !important; padding-bottom: $spacer-y !important; }

.u-p-a-md { padding:($spacer * 1.5) !important; }
.u-p-t-md { padding-top: ($spacer-y * 1.5) !important; }
.u-p-r-md { padding-right: ($spacer-y * 1.5) !important; }
.u-p-b-md { padding-bottom: ($spacer-y * 1.5) !important; }
.u-p-l-md { padding-left: ($spacer-y * 1.5) !important; }
.u-p-x-md { padding-right: ($spacer-x * 1.5) !important; padding-left: ($spacer-x * 1.5) !important; }
.u-p-y-md { padding-top: ($spacer-y * 1.5) !important; padding-bottom: ($spacer-y * 1.5) !important; }

.u-p-a-lg { padding:($spacer * 3) !important; }
.u-p-t-lg { padding-top: ($spacer-y * 3) !important; }
.u-p-r-lg { padding-right: ($spacer-y * 3) !important; }
.u-p-b-lg { padding-bottom: ($spacer-y * 3) !important; }
.u-p-l-lg { padding-left: ($spacer-y * 3) !important; }
.u-p-x-lg { padding-right: ($spacer-x * 3) !important; padding-left: ($spacer-x * 3) !important; }
.u-p-y-lg { padding-top: ($spacer-y * 3) !important; padding-bottom: ($spacer-y * 3) !important; }
//
// Prevent Scrolling
// --------------------------------------------------

.u-locked {
    overflow: hidden;
}

//
// Responsive utilities
// --------------------------------------------------

@each $bp in map-keys($grid-breakpoints) {
    .u-hidden-#{$bp}-up {
        @include media-breakpoint-up($bp) {
            display: none !important;
        }
    }
    .u-hidden-#{$bp}-down {
        @include media-breakpoint-down($bp) {
            display: none !important;
        }
    }
}

// Print utilities
//
// Media queries are placed on the inside to be mixin-friendly.

.u-visible-print-block {
    display: none !important;

    @media print {
        display: block !important;
    }
}

.u-visible-print-inline {
    display: none !important;

    @media print {
        display: inline !important;
    }
}

.u-visible-print-inline-block {
    display: none !important;

    @media print {
        display: inline-block !important;
    }
}

.u-hidden-print {
    @media print {
        display: none !important;
    }
}
