// Variables // --------------------------------------------------

$debug: true!default;

//
// Grid
// --------------------------------------------------

$screen-xs: 480px !default;
$screen-xs-min: $screen-xs !default;
$screen-phone: $screen-xs-min !default;
$screen-sm: 768px !default;
$screen-sm-min: $screen-sm !default;
$screen-tablet: $screen-sm-min !default;
$screen-md: 992px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;
$screen-xs-max: ($screen-sm-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-md-max: ($screen-lg-min - 1) !default;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;
$grid-float-breakpoint: $screen-sm-min !default;
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1) !default;

$container-tablet: ((720px + $grid-gutter-width)) !default;
$container-sm: $container-tablet !default;
$container-desktop: ((940px + $grid-gutter-width)) !default;
$container-md: $container-desktop !default;
$container-large-desktop: ((1140px + $grid-gutter-width)) !default;
$container-lg: $container-large-desktop !default;

$gutter: $grid-gutter-width;

//
// Colors
// --------------------------------------------------

$blue:                  #337ab7;
$green:                 #5cb85c;
$light-blue:            #5bc0de;
$yellow:                #f0ad4e;
$red:                   #d9534f;

$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           lighten($gray-base, 93.5%); // #eee

$brand-primary:         $blue;
$brand-success:         $green;
$brand-info:            $light-blue;
$brand-warning:         $yellow;
$brand-danger:          $red;
$brand-gray:            $gray;

//
// Typography
// --------------------------------------------------

$sans-serif:                "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:                     Georgia, "Times New Roman", Times, serif;
$monospace:                 Menlo, Monaco, Consolas, "Courier New", monospace;

$font-url :                 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700';

// Defaults
$default-font:              $sans-serif;
$default-font-color:        $gray-dark;

// Sizes
$font-size-base:          14px;

$font-size-large:         ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

// Weights
$thin:                      100;
$light:                     300;
$regular:                   400;
$medium:                    500;
$semi-bold:                 600;
$bold:                      700;
$extra-bold:                900;

//
// Links
// --------------------------------------------------

$link-color:                $brand-primary;

//
// Buttons
// --------------------------------------------------

$button-text-color: #333;
$button-color: $brand-gray;

//
// Animations
// --------------------------------------------------

$animation-xshort: 125ms;
$animation-short: 250ms;
$animation-medium: 500ms;
$animation-long: 1s;
$animation-xl: 2s;

//
// Component Prefix
// --------------------------------------------------
$csstyle-component-symbol: 'c-';
