// Tweaks // --------------------------------------------------
// Create generic style tweaks that can be applied to any component instance, part, element, etc.
// Tweaks are applied using a + sign followed by the tweak name.
// Tweaks automatically override the styling of components, options, and parts.

//
// Alignment
// --------------------------------------------------

@include tweak(left) {
    text-align: left;
}

@include tweak(center) {
    text-align: center;
}

@include tweak(right) {
    text-align: center;
}

//
// Float Alignment
// --------------------------------------------------

@include tweak(pull-left) {
    float: left;
}

@include tweak(pull-right) {
    float: right;
}

//
// Clearing
// --------------------------------------------------

@include tweak(clearing) {
    @include clearfix();
}

//
// Typography
// --------------------------------------------------

@include tweak(italic) {
    font-style: italic;
}
