// Tweaks // --------------------------------------------------
// Create generic style tweaks that can be applied to any component instance, part, element, etc.
// Tweaks are applied using a + sign followed by the tweak name.
// Tweaks automatically override the styling of components, options, and parts.

//
// Alignment
// --------------------------------------------------

@include tweak(left) {
    text-align: left;
}

@include tweak(center) {
    text-align: center;
}

@include tweak(right) {
    text-align: center;
}

//
// Float Alignment
// --------------------------------------------------

@include tweak(pull-left) {
    float: left;
}

@include tweak(pull-right) {
    float: right;
}

//
// Clearing
// --------------------------------------------------

@include tweak(clearing) {
    @include clearfix();
}

//
// Typography
// --------------------------------------------------

@include tweak(italic) {
    font-style: italic;
}

@include tweak(text-center) {
    text-align: center;
}

//
// Spacing
// --------------------------------------------------

// Margin

@include tweak(m-a-0) { margin:        0 !important; }
@include tweak(m-t-0) { margin-top:    0 !important; }
@include tweak(m-r-0) { margin-right:  0 !important; }
@include tweak(m-b-0) { margin-bottom: 0 !important; }
@include tweak(m-l-0) { margin-left:   0 !important; }
@include tweak(m-x-0) { margin-right:  0 !important; margin-left:   0 !important; }
@include tweak(m-y-0) { margin-top:    0 !important; margin-bottom: 0 !important; }

@include tweak(m-a) { margin:        $spacer !important; }
@include tweak(m-t) { margin-top:    $spacer-y !important; }
@include tweak(m-r) { margin-right:  $spacer-x !important; }
@include tweak(m-b) { margin-bottom: $spacer-y !important; }
@include tweak(m-l) { margin-left:   $spacer-x !important; }
@include tweak(m-x) { margin-right:  $spacer-x !important; margin-left: $spacer-x !important; }
@include tweak(m-y) { margin-top:    $spacer-y !important; margin-bottom: $spacer-y !important; }
@include tweak(m-x-auto) { margin-right: auto !important; margin-left: auto !important; }

@include tweak(m-a-md) { margin:        ($spacer * 1.5) !important; }
@include tweak(m-t-md) { margin-top:    ($spacer-y * 1.5) !important; }
@include tweak(m-r-md) { margin-right:  ($spacer-y * 1.5) !important; }
@include tweak(m-b-md) { margin-bottom: ($spacer-y * 1.5) !important; }
@include tweak(m-l-md) { margin-left:   ($spacer-y * 1.5) !important; }
@include tweak(m-x-md) { margin-right:  ($spacer-x * 1.5) !important; margin-left:   ($spacer-x * 1.5) !important; }
@include tweak(m-y-md) { margin-top:    ($spacer-y * 1.5) !important; margin-bottom: ($spacer-y * 1.5) !important; }

@include tweak(m-a-lg) { margin:        ($spacer * 3) !important; }
@include tweak(m-t-lg) { margin-top:    ($spacer-y * 3) !important; }
@include tweak(m-r-lg) { margin-right:  ($spacer-y * 3) !important; }
@include tweak(m-b-lg) { margin-bottom: ($spacer-y * 3) !important; }
@include tweak(m-l-lg) { margin-left:   ($spacer-y * 3) !important; }
@include tweak(m-x-lg) { margin-right:  ($spacer-x * 3) !important; margin-left:   ($spacer-x * 3) !important; }
@include tweak(m-y-lg) { margin-top:    ($spacer-y * 3) !important; margin-bottom: ($spacer-y * 3) !important; }

// Padding

@include tweak(p-a-0) { padding:        0 !important; }
@include tweak(p-t-0) { padding-top:    0 !important; }
@include tweak(p-r-0) { padding-right:  0 !important; }
@include tweak(p-b-0) { padding-bottom: 0 !important; }
@include tweak(p-l-0) { padding-left:   0 !important; }
@include tweak(p-x-0) { padding-right:  0 !important; padding-left:   0 !important; }
@include tweak(p-y-0) { padding-top:    0 !important; padding-bottom: 0 !important; }

@include tweak(p-a) { padding:        $spacer !important; }
@include tweak(p-t) { padding-top:    $spacer-y !important; }
@include tweak(p-r) { padding-right:  $spacer-x !important; }
@include tweak(p-b) { padding-bottom: $spacer-y !important; }
@include tweak(p-l) { padding-left:   $spacer-x !important; }
@include tweak(p-x) { padding-right:  $spacer-x !important; padding-left:   $spacer-x !important; }
@include tweak(p-y) { padding-top:    $spacer-y !important; padding-bottom: $spacer-y !important; }

@include tweak(p-a-md) { padding:        ($spacer * 1.5) !important; }
@include tweak(p-t-md) { padding-top:    ($spacer-y * 1.5) !important; }
@include tweak(p-r-md) { padding-right:  ($spacer-y * 1.5) !important; }
@include tweak(p-b-md) { padding-bottom: ($spacer-y * 1.5) !important; }
@include tweak(p-l-md) { padding-left:   ($spacer-y * 1.5) !important; }
@include tweak(p-x-md) { padding-right:  ($spacer-x * 1.5) !important; padding-left:   ($spacer-x * 1.5) !important; }
@include tweak(p-y-md) { padding-top:    ($spacer-y * 1.5) !important; padding-bottom: ($spacer-y * 1.5) !important; }

@include tweak(p-a-lg) { padding:        ($spacer * 3) !important; }
@include tweak(p-t-lg) { padding-top:    ($spacer-y * 3) !important; }
@include tweak(p-r-lg) { padding-right:  ($spacer-y * 3) !important; }
@include tweak(p-b-lg) { padding-bottom: ($spacer-y * 3) !important; }
@include tweak(p-l-lg) { padding-left:   ($spacer-y * 3) !important; }
@include tweak(p-x-lg) { padding-right:  ($spacer-x * 3) !important; padding-left:   ($spacer-x * 3) !important; }
@include tweak(p-y-lg) { padding-top:    ($spacer-y * 3) !important; padding-bottom: ($spacer-y * 3) !important; }

//
// Layout
// --------------------------------------------------

@include tweak(wrapper) {
    position: relative;
}
