// Website Style Guide // --------------------------------------------------

// Mixins

@import '_mixins/*';

// Core variables

@import '_core/config';
@import '_core/reboot';
@import '_core/z-index';
@import '_core/typography';
@import '_core/grid';
@import '_core/print';
@import '_core/misc';

// Vendor

@import '_vendor/frunt';

// Helpers

@import 'tweaks'; // Tweaks, becuase you can't help it

// Partials
// --------------------------------------------------
// Reusable once per page partials, reference an id (e.g. #header, #sidebar)

@import "partials/*";

// Components
// --------------------------------------------------
// Reusable components that make up a webpage.
// Referenced in html with a 'c-' prefix (e.g. class="c-button")

@import 'components/*';

// Layouts
// --------------------------------------------------
// Layouts are specific to section and override any components, parts or tweaks.
// Layouts are used is scss: @include layout(home) and in html: class="@home"

@import 'layouts/*';

// Header
@include partial(guide-header) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #4100a8;
    color: $gray;
    z-index: $zIndex-9;

    .logo {
        color: #fff;
        line-height: 80px;
        font-size: 30px;
        font-weight: 300;
    }

    #menu-button {
        float: right;
        margin-top: 30px;

        &:hover {
            opacity: .9;
        }

        .\~burger {
            &, &:before, &:after {
                background-color: #fff;
            }
        }

       @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

// Main
@include partial(guide-main) {
    padding: 60px 0;

    // Content
    #guide-content {
        @include make-col();
        @include make-col-span(12);

        @include media-breakpoint-up(md) {
            @include make-col-span(9);
            @include spacing(right, 60px);
        }
    }
    // Sidebar
    #guide-sidebar {
        // display: none;
        @include make-col();

        @include media-breakpoint-up(sm) {
            @include make-col-span(3);
        }


        // Sidebar nav groups
        .guide-sidebar-nav {
            margin-bottom: 30px;
            overflow: hidden;

            .guide-sidebar-nav-heading {
                @include reset-heading;
                font-size: 22px;
                margin-bottom: 10px;
            }
            ul {
                @include reset-list;

                li {
                    margin-bottom: 0;

                    a {
                        display: block;
                        padding: 3px 10px;

                        &:hover {
                            color: $gray-darker;
                            background-color: $gray-lighter;
                        }
                    }
                }
            }
        }
    }
}

// Footer
@include partial(guide-footer) {
    background-color: $gray-lighter;
    padding: 30px 0;
    margin: 60px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: $gray;
}

// Guide Heading
.guide-heading {
    margin: -10px 0 30px 0;
}

// Code Blocks
.guide-gist {
    margin-top: 30px;
}

// Overrides
// for the website style guide that conform to csstyle.
@include layout(guide) {
    padding-top: 100px;

    @include component(section) {
        margin: 0 0 30px 0;

        @include part(heading) {
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
            padding-bottom: 10px;
            border-bottom: 5px solid $gray-lighter;
            margin-bottom: 30px;
        }
    }
}

// Sticky
.sticky {
    position: static;
    -webkit-transition: none;
    transition: none;
    z-index: 800;
}

/* Bound */
.sticky.bound {
    position: absolute;
    left: auto;
    right: auto;
}

/* Fixed */
.sticky.fixed {
    position: fixed;
    left: auto;
    right: auto;
}

/* Bound/Fixed Position */
.sticky.bound.top,
.sticky.fixed.top {
    top: 0px;
    bottom: auto;
}
.sticky.bound.bottom,
.sticky.fixed.bottom {
    top: auto;
    bottom: 0px;
}
