// Website Style Guide // --------------------------------------------------

// Import Style Base
@import '_vendor/frunt';
@import 'config';
@import '_mixins/animation';
@import '_mixins/clearfix';
@import '_mixins/reset';
@import '_mixins/shadow';
@import '_mixins/spacing';
@import '_mixins/valign';
@import '_core/reset';
@import '_core/z-index';
@import '_core/typography';
@import '_core/grid';
@import '_core/misc';
@import 'mixins';
@import 'tweaks';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import "partials/*";
@import 'components/*';
@import 'layouts/*';

// Header
@include partial(guide-header) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #4100a8;
    color: $gray;
    z-index: $zIndex-9;

    .logo {
        color: #fff;
        line-height: 80px;
        font-size: 30px;
        font-weight: $light;
    }

    #menu-button {
        float: right;
        margin-top: 30px;

        &:hover {
            opacity: .9;
        }

        .c-burger {
            &, &:before, &:after {
                background-color: #fff;
            }
        }

        @include mq($from: md) {
            display: none;
        }
    }
}

// Main
@include partial(guide-main) {
    padding: 60px 0;

    // Content
    #guide-content {
        @include make-sm-column(12);
        @include make-md-column(9);
        @include spacing(right, 60px);
    }
    // Sidebar
    #guide-sidebar {
        display: none;

        @include make-md-column(3);

        @include mq($from: md) {
            display: block;
        }

        // Sidebar nav groups
        .guide-sidebar-nav {
            margin-bottom: 30px;
            overflow: hidden;

            .guide-sidebar-nav-heading {
                @include reset-heading;
                font-size: 22px;
                margin-bottom: 10px;
            }
            ul {
                @include reset-list;

                li {
                    a {
                        display: block;
                        padding: 3px 10px;

                        &:hover {
                            color: $gray-darker;
                            background-color: $gray-lighter;
                        }
                    }
                }
            }
        }
    }
}

// Footer
@include partial(guide-footer) {
    background-color: $gray-lighter;
    padding: 30px 0;
    margin: 60px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: $gray;
}

// Overrides
// for the website style guide that conform to csstyle.
@include layout(guide) {
    padding-top: 100px;

    @include component(section) {
        margin: 0 0 30px 0;

        @include part(heading) {
            font-size: 20px;
            font-weight: $light;
            text-transform: uppercase;
            padding-bottom: 10px;
            border-bottom: 5px solid $gray-lighter;
            margin-bottom: 30px;
        }
    }
}

// Randomness

// Menu button
#menu-button {
    &:hover {
        opacity: .9;
    }
}
