// Website Style Guide // --------------------------------------------------

// Import Style Base
@import '_vendor/frunt';
@import 'config';
@import '_mixins/animation';
@import '_mixins/button';
@import '_mixins/clearfix';
@import '_mixins/valign';
@import '_core/reset';
@import '_core/z-index';
@import '_core/typography';
@import '_core/grid';
@import '_core/misc';
@import 'mixins';
@import 'tweaks';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import "partials/*";
@import 'components/*';
@import 'layouts/*';

// Header
@include partial(guide-header) {

}

// Main
@include partial(guide-main) {
    // Content
    #guide-content {
        @include make-sm-column(8);
        @include make-md-column(9);
    }
    // Sidebar
    #guide-sidebar {
        @include make-sm-column(4);
        @include make-md-column(3);
    }
}

// Footer
@include partial(guide-footer) {

}

// Overrides
// Overrides for the website style guide that conform to csstyle.

@include layout(guide) {
    @include component(section) {
        @include part(heading) {

        }
    }
}
