//
// App
//

html {
    font-size: ($font-size-root * 0.85);

    background: $body-bg;

    @include media-breakpoint-up(sm) {
        font-size: ($font-size-root * 0.9);
    }

    @include media-breakpoint-up(lg) {
        font-size: $font-size-root;
    }
}

body,
html,
.o-app {
    min-height: 100vh;
}

.o-app {
    @include shadow(2);

    display: block;

    width: 100%;
    max-width: $body-max-width;
    height: 100%;

    margin: 0 auto;

    background-color: $body-container-color;

    &[v-cloak] {
        opacity: 0;
    }

    &:not([v-cloak]) {
        animation: fadeIn $animation-xshort ease-in-out 0s 1 forwards;
    }
}

// [v-cloak] {
//     display: none !important;
// }
