//
// Alert
//

// Config
$alert-padding: 1rem 2rem;
$alert-padding-compact: .75rem 1.25rem;

// Component
.c-alert {
    position: relative;
    display: inline-block;
    padding: $alert-padding;
    color: #fff;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    background-color: $gray-darker;
    border-radius: 3px;
    margin-bottom: 2rem;

    @include shadow(1);

    transition: all $animation-xshort ease;

    // <p>, <ul> and <ol> tags inside of the alert
    p, ul, ol {
        font-size: $font-size-sm;
        margin-bottom: .75rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // Links
    &__link {
        font-weight: $font-weight-medium;
        text-decoration: underline;
        white-space: nowrap;
        color: #fff;
        opacity: .75;

        &:hover {
            cursor: default;
            color: #fff;
            opacity: 1;
        }
    }

    // Dismissible
    // Be sure to include the close icon inside an anchor:
    // <a class="c-alert--dismissible__link" href="#"><i class="icon icon-close"></i></a>
    &--dismissible {
        padding-right: 3.5rem;

        &__link {
            font-size: 1.2rem;
            position: absolute;
            right: 1.6rem;
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            opacity: .3;

            &:hover {
                cursor: pointer;
                color: #fff;
                opacity: 1;
            }
        }
    }

    // Compact
    &--compact {
        padding: $alert-padding-compact;
    }

    // No margins
    &--marginless {
        margin-bottom: 0;
    }

    // Block
    &--block {
        display: block;
    }

    // Primary
    &--primary {
        color: #fff;
        background-color: $ui-primary;
    }

    // Secondary
    &--secondary {
        color: #fff;
        background-color: $ui-secondary;
    }

    // Success
    &--success {
        color: #fff;
        background-color: $ui-success;
    }

    // Info
    &--info {
        color: $gray-darker;
        background-color: $ui-info;
        a {
            color: $gray-darker;
        }
    }

    // Note
    &--note {
        color: $gray-darker;
        background-color: #fcffe4;
        a {
            color: $gray-darker;
        }
    }

    // Warning
    &--warning {
        color: #fff;
        background-color: $ui-warning;
    }

    // Danger
    &--danger {
        color: #fff;
        background-color: $ui-danger;
    }
}

// Muted
.c-alert--muted {

    // Success
    &--success {
        color: darken($ui-success, 10%);
        background-color: transparentize($ui-success, .8);
        border: 1px solid transparentize($ui-success, .8);
        a {
            color: darken($ui-success, 10%);

            &:hover {
                color: darken($ui-success, 15%);
                text-decoration: none;
            }
        }
    }
    // Info
    &--info {
        color: darken($ui-info, 10%);
        background-color: transparentize($ui-info, .8);
        border: 1px solid transparentize($ui-info, .8);
        a {
            color: darken($ui-info, 10%);

            &:hover {
                color: darken($ui-info, 15%);
                text-decoration: none;
            }
        }
    }
    // Warning
    &--warning {
        color: darken($ui-warning, 10%);
        background-color: transparentize($ui-warning, .8);
        border: 1px solid transparentize($ui-warning, .8);
        a {
            color: darken($ui-warning, 10%);

            &:hover {
                color: darken($ui-warning, 15%);
                text-decoration: none;
            }
        }
    }
    // Danger
    &--danger {
        color: darken($ui-danger, 10%);
        background-color: transparentize($ui-danger, .8);
        border: 1px solid transparentize($ui-danger, .8);
        a {
            color: darken($ui-danger, 10%);

            &:hover {
                color: darken($ui-danger, 15%);
                text-decoration: none;
            }
        }
    }

    // Note
    &--note {
        color: $gray;
        border: 1px solid #f3efa9;
        background-color: #fcffe4;
        a {
            color: $gray-darker;
        }
    }
}
