// Button // --------------------------------------------------

// Config
$button-default:    $gray-lighter;
$button-primary:    $ui-primary;
$button-success:    $ui-success;
$button-info:       $ui-info;
$button-warning:    $ui-warning;
$button-danger:     $ui-danger;

// Mixins
@mixin button($background-color, $font-color, $hover-text-color: $background-color) {
    display: inline-block;
    padding: 0.625rem 1.25rem;

    color: $font-color;
    font-size: $font-size-sm;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background-color: $background-color;
    border: 1px solid transparent;
    border-radius: $br-default;

    transition: background-color $animation-xshort linear, color $animation-xshort linear;

    &:hover {
        background: transparent;
        border-color: $background-color;
        color: $hover-text-color;
    }

    &:active {
        background: transparent;
        border-color: $background-color;
        color: $hover-text-color;
    }

    &:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }
}


// Component
@include component(Button) {
    @include button($button-default, darken($button-default, 60%), darken($button-default, 75%));

    @include option(primary) {
        @include button($button-primary, #fff, darken($button-primary, 15%));
    }

    @include option(success) {
        @include button($button-success, #fff, darken($button-success, 15%));
    }

    @include option(info) {
        @include button($button-info, #fff, darken($button-info, 15%));
    }

    @include option(warning) {
        @include button($button-warning, #fff, darken($button-warning, 15%));
    }

    @include option(danger) {
        @include button($button-danger, #fff, darken($button-danger, 15%));
    }
}
