//
// Checkbox
//

$checkbox-color: $gray-lightest;
$checkbox-checked-color: $ui-secondary;

.c-checkbox {
    display: block;
    position: relative;
    padding-left: 3rem;

    font-size: 1.25rem;
    line-height: 1.9;
    cursor: pointer;

    input {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    input:checked ~ .c-checkbox__indicator {
        color: #fff;
        background-color: $checkbox-checked-color;
        background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=');
    }

    &__indicator {
        position: absolute;
        top: .25rem;
        left: 0;
        display: block;

        width: 1.8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        font-size: 65%;
        color: #eee;
        text-align: center;

        border: 1px solid darken($checkbox-color, 20%);
        background-color: $checkbox-color;
        background-size: 50% 50%;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
