//
// Text input
//

$input-height: 45px;
$input-padding: 1rem;
$input-background: #fff;
$input-small-height: $gutter;
$input-big-height: $gutter * 2;

// Component
.c-textinput {
    width: 100%;
    height: $input-height;
    padding: $input-padding;

    font-size: 1rem;

    color: $body-color;
    border-radius: $br-input;
    border: 2px solid $gray-lighter;
    background: none $input-background;
    border-color: $animation-xshort ease-in-out;

    transition: background $animation-xshort ease-in-out,
                color $animation-xshort ease-in-out,
                border $animation-xshort ease-in-out;

    -webkit-appearance: none;

    &:focus {
        border: 2px solid $ui-secondary;
        background-color: #fff;
        outline: 0;
        @include shadow(1);
    }

    &.has-error {
        border-color: #cc0000;
    }

    &--disabled {
        background-color: $gray-lightest;
    }

    &--invalid {
        border-color: $red;
    }

    &--small {
        height: $input-small-height;
        font-size: 1rem;
    }

    &--large {
        height: $input-big-height;
        font-size: 1.33rem;
    }

    &--invisible {
        border-radius: 0;
        border: none;
        outline: 0;
        padding: 0;
        background: none;
        height: 4rem;
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        font-size: 2rem;
        color: $gray;

        &:focus,
        &:active {
            border: none;
            background: none;
            outline: 0;
            box-shadow: none;
        }
    }

    // 2 columns
    &--sm {
        width: 16.666666667%;
    }

    // 4 columns
    &--md {
        width: 33.333333333%;
    }

    // 6 columns
    &--lg {
        width: 50%;
    }

    &--has-icon {
        width: 85%;

        + .icon {
            width: 15%;
        }
    }

}
