// Config // --------------------------------------------------

$enable-flex: false;

//
// Grid
// --------------------------------------------------

// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
    xs: 0,          // Extra small screen / phone
    sm: 34em,       // Small screen / phone
    md: 48em,       // Medium screen / tablet
    lg: 62em,       // Large screen / desktop
    xl: 75em        // Extra large screen / wide desktop
);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
    sm: 34rem,    // 480
    md: 45rem,    // 720
    lg: 60rem,    // 960
    xl: 72.25rem  // 1140
);


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12;
$grid-gutter-width: 1.875rem; // 30px

//
// Colors
// --------------------------------------------------

$blue: #337ab7;
$green: #5cb85c;
$light-blue: #5bc0de;
$yellow: #f0ad4e;
$orange: #f89739;
$red: #d9534f;

// Grayscale and brand colors for use across Bootstrap.

$gray-darker: #222222;
$gray-dark: #373a3c;
$gray: #55595c;
$gray-light: #818a91;
$gray-lighter: #eceeef;
$gray-lightest: #f7f7f9;

$ui-primary: $blue;
$ui-success: $green;
$ui-info: $light-blue;
$ui-warning: $yellow;
$ui-danger: $red;
$ui-gray: $gray;

// Spacing
//
// Control th styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y:  $spacer;
$border-width: .0625rem;

// Body
//
// Settings for the `<body>` element.

$body-bg: #fff;
$body-color: $gray-dark;

// Links
//
// Style anchor elements.

$link-color: $ui-primary;
$link-decoration: none;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: none;

//
// Typography
// --------------------------------------------------

$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;

$font-url: 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700';

$font-weight-light: 100;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

$font-weight-base: $font-weight-normal;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 16px;

$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: .85rem;
$font-size-xs: .75rem;

$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;

$display1-size: 6rem;
$display2-size: 5.5rem;
$display3-size: 4.5rem;
$display4-size: 3.5rem;

$display1-weight: $font-weight-light;
$display2-weight: $font-weight-light;
$display3-weight: $font-weight-light;
$display4-weight: $font-weight-light;

$line-height: 1.5;

$headings-margin-bottom: ($spacer / 2);
$headings-font-family: inherit;
$headings-font-weight: 500;
$headings-line-height: 1.1;
$headings-color: inherit;

$lead-font-size: 1.25rem;
$lead-font-weight: 300;

$text-muted: $gray-light;

$hr-border-color: rgba(0,0,0,.1);
$hr-border-width: $border-width;

// Tables
// --------------------------------------------------
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding: .75rem;
$table-sm-cell-padding: .3rem;

$table-bg: transparent;
$table-bg-accent: #f9f9f9;
$table-bg-hover: #f5f5f5;
$table-bg-active: $table-bg-hover;

$table-border-color: $gray-lighter;

//
// Buttons
// --------------------------------------------------

$button-text-color: $gray-darker;
$button-color: $ui-gray;

//
// Animations
// --------------------------------------------------

$animation-xshort: 125ms;
$animation-short: 250ms;
$animation-medium: 500ms;
$animation-long: 1s;
$animation-xl: 2s;

//
// Border Radiuses
// --------------------------------------------------

$br-default: 3px;
$br-button: $br-default;
$br-input: $br-default;
$br-table: $br-default;

//
// Misc
// --------------------------------------------------
//

$gutter: 1.875rem;
