// Reset // --------------------------------------------------

@import '../_vendor/normalize'; // Defacto reset

/**
 * Box sizing
 */

:root {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/**
 * Force scrollbar to prevent content jump
 */

:root {
    overflow-y: scroll;
}

/**
 * Better font rendering
 */

:root {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    -webkit-font-smoothing: subpixel-antialiased;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

/**
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

a,
span {
    display: inline-block;
}

/**
 * Forms
 */

input,
textarea,
select {
    border: 1px solid #D1D1D1;
    height: 36px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    border-radius: 4px;
    box-shadow: none;
    background: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
    resize: vertical;
}
input:focus,
textarea:focus,
select:focus {
    border: 1px solid $ui-primary;
    outline: 0;
}
label,
legend {
    display: block;
    font-weight: 600;
    margin-bottom: .5rem;
}
fieldset {
    border-width: 0;
    padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
    display: inline
}
label > .label-body {
    display: inline-block;
    font-weight: normal;
    margin-left: .5rem;
}

/**
 * List
 */

ul {
    list-style: circle inside;
}
ol {
    list-style: decimal inside;
}
ol, ul {
    margin-top: 0;
    padding-left: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
}
li {
    margin-bottom: 1rem;
}

/**
 * Images
 */

/**
 * 1. Fluid images for responsive purposes.
 * 2. Offset `alt` text from surrounding copy.
 * 3. Setting `vertical-align` removes the whitespace that appears under `img`
 *    elements when they are dropped into a page as-is. Safer alternative to
 *    using `display: block;`.
 */
img {
    max-width: 100%;
    font-style: italic;
    vertical-align: middle;
}

/**
 *  If a `width` and/or `height` attribute have been explicitly defined, let’s
 *  not make the image fluid.
 */

img[width],
img[height] {
    max-width: none;
}

/**
 *  Table defaults
 */

$table-cell-padding: 10px !default;

table {
    background: transparent;

    thead {
        font-size: 16px;
        border-bottom: 3px solid #eee;
    }
    tbody {
        font-size: 14px;
    }
    td,
    th {
        padding: $table-cell-padding;
        &[class*="col-"] {
            position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
            float: none;
            display: table-cell;
        }
    }
}
table col[class*="col-"] {
    position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    float: none;
    display: table-column;
}
th {
    text-align: left;
}
