@import url($font-url);

// Headings

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

h5 {
    font-size: $font-size-h5;
}

h6 {
    font-size: $font-size-h6;
}

// Links

a {
    color: $link-color;
    text-decoration: none;

    @include transition(color $animation-xshort ease-in-out);

    &:hover {
        color: darken($link-color, 15%);
    }
}

// Blockquote

blockquote {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin: 30px 0;
    padding: 30px;
    text-align: center;

    p {
        font-size: 22px;
        color: $gray;
        font-style: italic;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }

        &.by {
            font-size: 14px;
        }
    }
}

// Icons

@font-face {
    font-family: 'icomoon';
    src:url('/assets/fonts/icomoon.eot?-21tjc4');
    src:url('/assets/fonts/icomoon.eot?#iefix-21tjc4') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?-21tjc4') format('truetype'),
    url('/assets/fonts/icomoon.woff?-21tjc4') format('woff'),
    url('/assets/fonts/icomoon.svg?-21tjc4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
    content: "\e905";
}
.icon-image:before {
    content: "\e90d";
}
.icon-camera:before {
    content: "\e90f";
}
.icon-music:before {
    content: "\e911";
}
.icon-play:before {
    content: "\e912";
}
.icon-stack:before {
    content: "\e92e";
}
.icon-price-tag:before {
    content: "\e935";
}
.icon-location:before {
    content: "\e947";
}
.icon-clock:before {
    content: "\e94e";
}
.icon-bubble:before {
    content: "\e96b";
}
.icon-user:before {
    content: "\e971";
}
.icon-users:before {
    content: "\e972";
}
.icon-quotes-left:before {
    content: "\e977";
}
.icon-quotes-right:before {
    content: "\e978";
}
.icon-spinner:before {
    content: "\e97d";
}
.icon-bookmark:before {
    content: "\e9d2";
}
.icon-info:before {
    content: "\ea0c";
}
.icon-close:before {
    content: "\ea0f";
}
.icon-check:before {
    content: "\ea10";
}
.icon-google-plus:before {
    content: "\ea88";
}
.icon-facebook:before {
    content: "\ea8c";
}
.icon-instagram:before {
    content: "\ea90";
}
.icon-twitter:before {
    content: "\ea91";
}
.icon-feed:before {
    content: "\ea94";
}
.icon-youtube:before {
    content: "\ea99";
}
.icon-vimeo:before {
    content: "\ea9c";
}

