// Animations // --------------------------------------------------

@mixin animation ($name, $duration: 300ms, $delay: 0, $ease: ease, $fillmode: none) {
    -webkit-animation:              $name $duration $delay $ease;
    -moz-animation:                 $name $duration $delay $ease;
    -ms-animation:                  $name $duration $delay $ease;
    -webkit-animation-fill-mode:    $fillmode;
    animation-fill-mode:            $fillmode;
}

@mixin transition ($transition, $delay: 0) {
    -webkit-transition:         $transition;
    -moz-transition:            $transition;
    -ms-transition:             $transition;
    -o-transition:              $transition;
    transition:                 $transition;
    -webkit-transition-delay:   $delay;
    -moz-transition-delay:      $delay;
    -ms-transition-delay:       $delay;
    -o-transition-delay:        $delay;
    transition-delay:           $delay;
}

@mixin transition-delay($delay: 0) {
    -webkit-transition-delay:   $delay;
    -moz-transition-delay:      $delay;
    -ms-transition-delay:       $delay;
    -o-transition-delay:        $delay;
    transition-delay:           $delay;
}

@mixin transition-duration($duration) {
    -webkit-transition-duration:    $duration;
    -moz-transition-duration:       $duration;
    -ms-transition-duration:        $duration;
    -o-transition-duration:         $duration;
    transition-duration:            $duration;
}

@mixin transform($string){
    -webkit-transform:   $string;
    -moz-transform:      $string;
    -ms-transform:       $string;
    -o-transform:        $string;
}

@mixin scale ($factor) {
    -webkit-transform:   scale($factor);
    -moz-transform:      scale($factor);
    -ms-transform:       scale($factor);
    -o-transform:        scale($factor);
}

@mixin rotate ($deg) {
    -webkit-transform: rotate($deg);
    -moz-transform:      rotate($deg);
    -ms-transform:       rotate($deg);
    -o-transform:        rotate($deg);
}

@mixin skew ($deg, $deg2) {
    -webkit-transform:       skew($deg, $deg2);
    -moz-transform:      skew($deg, $deg2);
    -ms-transform:       skew($deg, $deg2);
    -o-transform:        skew($deg, $deg2);
}

@mixin translate ($x, $y:0) {
    -webkit-transform:       translate($x, $y);
    -moz-transform:      translate($x, $y);
    -ms-transform:       translate($x, $y);
    -o-transform:        translate($x, $y);
}

@mixin translate3d ($x, $y: 0, $z: 0) {
    -webkit-transform:       translate3d($x, $y, $z);
    -moz-transform:      translate3d($x, $y, $z);
    -ms-transform:       translate3d($x, $y, $z);
    -o-transform:        translate3d($x, $y, $z);
}

@mixin perspective ($value: 1000) {
    -webkit-perspective:    $value;
    -moz-perspective:   $value;
    -ms-perspective:    $value;
    perspective:        $value;
}

@mixin transform-origin ($x:center, $y:center) {
    -webkit-transform-origin: $x $y;
    -moz-transform-origin:    $x $y;
    -ms-transform-origin:     $x $y;
    -o-transform-origin:      $x $y;
}
