// Button // --------------------------------------------------

@mixin button($background-color, $font-color, $hover-text-color: $background-color) {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px 5px;

    color: $font-color;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    background-color: $background-color;
    border: 1px solid transparent;
    border-radius: 2px;

    $transition: background-color 0.15s linear, color 0.15s linear;

    @include transition($transition);

    &:hover {
        background: transparent;
        border-color: $background-color;
        color: $hover-text-color;
    }

    &:active,
    &:focus {
        background: transparent;
        border-color: $background-color;
        color: $hover-text-color;
    }
}
