// Reset Mixins // --------------------------------------------------

// Reset List

@mixin reset-list() {
    margin: 0;
    padding: 0;
    list-style: none;
}


// Reset Heading

@mixin reset-heading() {
    margin: 0;
    padding: 0;
    font-weight: 500;
}
