// Spacing // --------------------------------------------------

@mixin spacing($direction: left, $padding: 30px) {
    @if($direction == top){
        padding-top: $padding;
    }
    @if($direction == right){
        padding-right: $padding;
    }
    @if($direction == bottom){
        padding-bottom: $padding;
    }
    @if($direction == left){
        padding-left: $padding;
    }
}
