// Forms // --------------------------------------------------

@include component(Form-control) {
    width: 100%;
    height: auto;

    border-radius: 0;
    border: 1px solid $gray;
    background: #fff;

    transition: background $animation-xshort ease-in-out, border-color $animation-xshort ease-in-out;

    &:hover,
    &:focus {
        background: $gray-dark;
    }

    &:focus {
        border: 1px solid $ui-primary;
    }

    @include option(small) {
        height: 41px;
    }

}
