// Forms // --------------------------------------------------

@include component(Form-control) {
    width: 100%;
    height: auto;

    border-radius: $br-input;
    border: 1px solid $gray-lighter;
    background: #fff;

    transition: background $animation-xshort ease-in-out, border-color $animation-xshort ease-in-out;

    &:hover,
    &:focus {
       background: lighten($gray-lighter, 10%);
    }

    &:focus {
        border: 1px solid $gray-light;
    }

    @include option(small) {
        height: 41px;
    }

}
