//
// Basic Bootstrap table
//

@include component(table) {
    width: 100%;
    max-width: 100%;
    margin-bottom: $spacer;

    th,
    td {
        padding: $table-cell-padding;
        line-height: $line-height;
        vertical-align: top;
        border-top: 1px solid $table-border-color;
    }

    thead th {
        vertical-align: bottom;
        border-bottom: 2px solid $table-border-color;
    }

    tbody + tbody {
        border-top: 2px solid $table-border-color;
    }

    .table {
        background-color: $body-bg;
    }

    @include option(small) {
        th,
        td {
          padding: $table-sm-cell-padding;
        }
    }

    @include option(bordered) {
        border: 1px solid $table-border-color;

        th,
        td {
            border: 1px solid $table-border-color;
        }

        thead {
          th,
          td {
            border-bottom-width: 2px;
          }
        }
    }
}
