// Typography // --------------------------------------------------

@include component(text-color) {
    @include option(primary) {
        color: $ui-primary;
    }

    @include option(success) {
        color: $ui-success;
    }

    @include option(info) {
        color: $ui-info;
    }

    @include option(warning) {
        color: $ui-warning;
    }

    @include option(danger) {
        color: $ui-danger;
    }
}
