// Website Style Guide // --------------------------------------------------

// @app // --------------------------------------------------
// @author Piccirilli Dorsey
// @copyright 2015

// Configuration
// --------------------------------------------------

@import 'config';

// Mixins
// --------------------------------------------------

@import '_mixins/*';

// Core
// --------------------------------------------------

@import '_core/frunt';
@import '_core/reboot';
@import '_core/typography';
@import '_core/grid';
@import '_core/form';
@import '_core/print';
@import '_core/tweaks';

// Components
// --------------------------------------------------
// Reusable components that make up a webpage.
// Referenced in html with a 'c-' prefix (e.g. class="c-button")

@import 'components/*';

// Guide specific styles
// --------------------------------------------------

// Header
@include partial(guide-header) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: $ui-primary;
    color: $gray;
    z-index: $zIndex-9;

    .logo {
        color: #fff;
        line-height: 80px;
        font-size: 30px;
        font-weight: 300;
    }

    #menu-button {
        float: right;
        margin-top: 30px;

        &:hover {
            opacity: .9;
        }

        .Burger {
            &, &:before, &:after {
                background-color: #fff;
            }
        }

       @include media-breakpoint-up(md) {
            display: none;
        }
    }
}

// Main
@include partial(guide-main) {
    padding: 60px 0;

    // Content
    #guide-content {
        @include make-col();
        @include make-col-span(12);

        @include media-breakpoint-up(md) {
            @include make-col-span(9);
            padding-right: 60px;
        }
    }
    // Sidebar
    #guide-sidebar {
        // display: none;
        @include make-col();

        @include media-breakpoint-up(sm) {
            @include make-col-span(3);
        }


        // Sidebar nav groups
        .guide-sidebar-nav {
            margin-bottom: 30px;
            overflow: hidden;

            .guide-sidebar-nav-heading {
                @include reset-heading;
                font-size: 22px;
                margin-bottom: 10px;
            }
            ul {
                @include reset-list;

                li {
                    margin-bottom: 0;

                    a {
                        display: block;
                        padding: 3px 10px;

                        &:hover {
                            color: $gray-darker;
                            background-color: $gray-lighter;
                        }
                    }
                }
            }
        }
    }
}

// Footer
@include partial(guide-footer) {
    background-color: $gray-lighter;
    padding: 30px 0;
    margin: 60px 0 0 0;
    text-align: center;
    font-size: 14px;
    color: $gray-dark;
}

// Guide Heading
.guide-heading {
    font-size: 48px;
    font-weight: 900;
    margin: 80px 0 30px 0;

    &:first-child {
        margin: -10px 0 30px 0;
    }
}

// Code Blocks
.guide-gist {
    margin-top: 30px;
}

// Overrides
// for the website style guide that conform to csstyle.
@include layout(guide) {
    padding-top: 100px;

    @include component(section) {
        margin: 0 0 30px 0;

        @include part(heading) {
            font-size: 20px;
            font-weight: 300;
            text-transform: uppercase;
            padding-bottom: 10px;
            border-bottom: 5px solid $gray-lighter;
            margin-bottom: 30px;
        }
    }
}

// Sticky
.sticky {
    position: static;
    -webkit-transition: none;
    transition: none;
    z-index: 800;
}

/* Bound */
.sticky.bound {
    position: absolute;
    left: auto;
    right: auto;
}

/* Fixed */
.sticky.fixed {
    position: fixed;
    left: auto;
    right: auto;
}

/* Bound/Fixed Position */
.sticky.bound.top,
.sticky.fixed.top {
    top: 0px;
    bottom: auto;
}
.sticky.bound.bottom,
.sticky.fixed.bottom {
    top: auto;
    bottom: 0px;
}

// Color Tiles

.Tiles {
    &.color-swatches {
        li {
            height: 100px;
        }
    }
    .overlay-content {
        .fa {
            font-size: 300%;
        }
    }
    .primary {
        background-color: $blue;
    }
    .secondary {
        background-color: $blue-light;
    }
    .tertiary {
        background-color: $orange;
    }
    .blue {
        background-color: $blue;
    }
    .green {
        background-color: $green;
    }
    .light-blue {
        background-color: $blue-light;
    }
    .orange {
        background-color: $orange;
    }
    .red {
        background-color: $red;
    }
    .gray-darker {
        background-color: $gray-darker;
    }
    .gray-dark {
        background-color: $gray-dark;
    }
    .gray {
        background-color: $gray;
    }
    .gray-light {
        background-color: $gray-light;
    }
    .gray-lighter {
        background-color: $gray-lighter;
    }
}

// Fonts

.sans-serif {
    font-family: $font-family-sans-serif;
}

.serif {
    font-family: $font-family-serif;
}

.light {
    font-weight: $font-weight-light;
}

.normal {
    font-weight: $font-weight-normal;
}

.semi-bold {
    font-weight: $font-weight-semi-bold;
}

.bold {
    font-weight: $font-weight-bold;
}

.extra-bold {
    font-weight: $font-weight-extra-bold;
}
