// @app // --------------------------------------------------
// @author Piccirilli Dorsey (http://picdorsey.com)
// @copyright 2016

// Configuration
// --------------------------------------------------

@import 'config';

// Mixins
// --------------------------------------------------

@import '_mixins/*';

// Core
// --------------------------------------------------

@import '_core/reboot';
@import '_core/typography';
@import '_core/grid';
@import '_core/form';
@import '_core/functions';
@import '_core/print';
@import '_core/utilities';
@import '_core/debug';

// Components (c-)
// --------------------------------------------------
// Signify that something is a Component. This is a concrete, implementation-specific piece
// of UI. All of the changes you make to its styles should be detectable in the context
// you’re currently looking at. Modifying these styles should be safe and have no side effects.

@import 'components/*';

// Objects (o-)
// --------------------------------------------------
// Signify that something is an Object, and that it may be used in any number
// of unrelated contexts to the one you can currently see it in. Making modifications
// to these types of class could potentially have knock-on effects in a lot of other
// unrelated places. Tread carefully.

@import 'objects/*';

// Themes (t-)
// --------------------------------------------------
// Signify that a class is responsible for adding a
// Theme to a view. It lets us know that UI Components’ current
// cosmetic appearance may be due to the presence of a theme.

@import 'themes/*';
